{% extends 'base.html'%}


{% block Contents %}
<div class="listnewsheader">
<p class="listheader">Manage team members</p>
</div>
<div id="newsarticletable">



<table id="newsarticles" cellspacing="10" class="striped">
<thead>
<tr>
  <th>#ID</th>
  <th>Name</th>
  <th>Role</th>
  <th>Status</th>
  <th>Options</th>

</tr>
</thead>
<tbody>
<tr>
{% for user in users  %}

  <td><b>{{ user.id }}</b></td>
  <td>{{ user.volname}}</td>
  <td>{{ user.expertise }}</td>
  <td>{{ user.is_active|yesno:"Active,Inactive"  }}</td>
  <td><a class="edit" href="edit/{{ user.id }}"</a> <i class="small material-icons">edit</i>
  <a class="danger" href="delete/{{ user.id }}" onclick="return confirm('Are you sure you want to remove this user?')"><i class="small material-icons">delete</i></a></td>
 </tr> 
 {% endfor %}

<tbody>

</table>
          <div class="col-md-12" id="pagination">
	    
            <ul class="pagination pager-left" id="myPager"></ul>
          </div>


<a class="btn-floating btn-large waves-effect waves-light #039be5" href="/{{ teamid }}/news/createnews"><i class="material-icons">add</i></a>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $('.toggle_publish').change(function (e) {
    var news_id = $(this).attr('id');
    window.location='/{{ teamid }}/news/toggle_publish/' + news_id;
  });
</script>
{% endblock%}
