/*Base css*/



	 .navbar {
	 text-align:center;
	 border: solid black 1px;
	 background-color:gray;
	 height:220px;
	 
	 }
	 .banner {
	 font-size:2.8em;
	 margin:80px;
	 color:white;
	 font-family: Arial;
	 }
	 #midcontent {
	 width:100%;
	 height:744px;
	 }
	 #midcontent #left {
	 width:50%;
	 height:100%;
	 float:left;
	 }
	 #midcontent #right {
	 width:50%;
	 height:100%;
	 float:right;
	 }
	 #description {
	 display:block;
	 width:600px;
	 height:600px;
	 border:solid black 1px;
	 padding:30px;
	 margin: 70px 190px;
	 border: 2px solid lightgray;
     border-radius: 16px;
	 font-family: Arial;
	 }
	 .descriptionhead{
	 font-size:1.4em;
	 }
	 .tilegroupcontent{
	width:500px;
	margin: 180px 70px;
    padding: 0;
    border: 0;
    font: Array inherit;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    vertical-align: baseline;
	 }
	 .appTile {
    text-align: center;
    margin: 0 22px 22px 0;
    width: 127px;
    height: 127px;
    padding: 5px;
    position: relative;
    box-shadow: 0 7px 26px #ddd;
    overflow: hidden;
    /*transition: all cubic-bezier(.24, .5, .38, .73) .3s;*/
	}
	 .appTile a {
    font-size: 11px;
    color: #4d5158;
    line-height: 12px;
    margin-top: 36px;
    display: inline-block;
	text-align:center;
	}
	 .listnewsheader {
    background-color: gray;
    height: 100px;	
	float:right;
	width:80.0%;
	}
	 #listnewssidebar {
    height: 100%;
	width:20%;
	float:left;
	background-color:lightgray;
	}

	 #listnewssidebar ul {
	list-style:none;
	}
	 #listnewssidebar ul li {
	width:100%;
	box-sizing:border-box;
	}

	 #listnewssidebar ul li a{
	color:black;
	text-decoration:none;
	font-family:sans-serif;
	}
	 .listheader {
    font-size:2.8em;
	color:white;
	font-family: Arial;
	margin-top:14px;
	}
	 #newsarticletable{
	height:80.75%;
	width:80%;
	background-color:;
	float:left;
	}
	 a.sidebarlinks:link, a.sidebarlinks:visited{
    color: black;
    padding: 30px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:400px;	
	}
	 a.sidebarlinks:hover{
	background-color:white;
	}


	 #editnewsblock{
	width:100%;
	float:left;
	padding:10px 20px;
	}

	 #loginPage {
    width: 500px;
    transform: translate(-50%, 50%);
    box-shadow: 0 10px 26px #ccc;
	}
	 #loginPage, .circle-1 {
    left: 50%;
    position: absolute;
	}
	 .login-content {
    display: inline-block;
    width: 100%;
    padding: 26px 60px 44px 24px;
	}
	 .tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: lightgray!important;
    will-change: left, right;
	}
	 .tabs .tab a.active {
    background-color: transparent;
    color: lightgray!important;
	}
	 .tabs .tab a.active {
    background-color: transparent;
    color: black!important;
	}
	 .tabs .tab a {
    color: lightgray!important;
	}
	 textarea#textarea {
    height: 150px!important;
	}
	 #pagination{
	float:left;
	}
	 a.prev_link {
    display: block!important;
		}
	 a.next_link {
    display: block!important;
	}
	a.active {
    background-color: transparent!important;
}
    tr {
    border-style: none;
}

a.datepicker-icon {
    float: right;
    position: relative;
    margin-top: -40px;
}

a.ui-spinner-button {
    right: 0;
    position: absolute;
    top: 6px;
}
.ui-spinner{
	position:relative;
}
span .ui-spinner-button:nth-of-type(1) {
    right: 20px;
}
