{% extends 'adminpage.html'%}

{% block Contents %}
    <div class="modal modal-fixed-footer" id="iframe_modal" style="width: 100%;">
        <div class="modal-content">
          <h5 id='modal-title'></h5>
          <iframe style='width:100%;border:none;'></iframe>
        </div>
        <div class="modal-footer">

        </div>
    </div>

    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/index/" class="brand-logo">{{ teamname }}</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/logout">Logout</a></li>
          </ul>

          <ul id="nav-mobile" class="sidenav">
            <li><a href="/logout">Logout</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col-sm-12">
                    <div class="tileGroupHeader">
                        <h5 class="Cmn-HeadingSmall">Team Tools</h5>
                    </div>
                </div>
                <div class="tileGroupContent">

                    <div class="appTile left">
                        <a href="/team.edit.modal/teamId/1" data-position="bottom" data-delay="50" data-tooltip="Manage team" class="dialog iframe">
                            <span class="appTileImg img-polaroid"><i class="material-icons">group</i></span>
                            <span class="appTileTitle">Manage team</span>
                        </a>
                        <span class="circle-1"></span>
                    </div>

                    <div class="appTile left">
                        <a href="/team.member.list.manage.modal/teamId/1" data-position="bottom" data-delay="50" data-tooltip="Manage team members" class="dialog iframe">
                            <span class="appTileImg img-polaroid"><i class="material-icons">person</i></span>
                            <span class="appTileTitle">Manage team members</span>
                          </a>
                        <span class="circle-1"></span>
                    </div>

                    <div class="appTile left">
                        <a href="/team.agenda.list.manage.modal/teamId/1" data-position="bottom" data-delay="50" data-tooltip="Manage agenda" class="dialog iframe">
                            <span class="appTileImg img-polaroid"><i class="material-icons">date_range</i></span>
                            <span class="appTileTitle">Manage agenda</span>
                          </a>
                        <span class="circle-1"></span>
                    </div>

                    <div class="appTile left">
                        <a class='in_iframe_modal' data-tooltip="Manage news" href="/{{ teamid }}/news/">
                        {#                  <a href="/team.article.list.manage.modal/teamId/1" data-position="bottom" data-delay="50" data-tooltip="Manage news" class="dialog iframe" data-window-h="635">#}
                            <span class="appTileImg img-polaroid"><i class="material-icons">library_books</i></span>
                            <span class="appTileTitle">Manage news</span>
                        </a>
                        <span class="circle-1"></span>
                    </div>

                        <div class="appTile left">
                          <a href="/team.wiki.list.manage.modal/teamId/1" data-position="bottom" data-delay="50" data-tooltip="Wiki management" class="dialog iframe">
                            <span class="appTileImg img-polaroid"><i class="material-icons">book</i></span>
                            <span class="appTileTitle">Wiki management</span>
                          </a>
                        <span class="circle-1"></span></div>

                        <div class="appTile left">
                          <a href="/team.notification.management.modal/teamid/1" data-position="bottom" data-delay="50" data-tooltip="Notifications" class="dialog iframe" data-reload="false">
                            <span class="appTileImg img-polaroid"><i class="material-icons">notifications</i></span>
                            <span class="appTileTitle">Notifications</span>
                          </a>
                        <span class="circle-1"></span></div>


                </div>

                <div class="clear" style="clear: left; display: block;"></div>

                <div class="col-sm-12">

                    <div class="tileGroupHeader">
                        <h5 class="Cmn-HeadingSmall">Team Members</h5>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock%}
    
	
{#    <div id="midcontent">#}
{#		   <div id="left">#}
{#	     <div id ="description">#}
{#		 <p class="descriptionhead"><b>description</b></p>#}
{#		 <p>#}
{#Where does it come from?#}
{#Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).#}
{##}
{#</p>#}
{#		 </div>#}
{#		 </div>#}
{#	   <div id="right">#}
{#	   <a href="/logout">Logout</a>#}
{#	   <div class="tileGroupContent">#}
{#            #}
{#            #}
{#              <div class="appTile left">#}
{#                <a href="/{{teamid}}/teambeheer" data-position="bottom" data-delay="50" data-tooltip="Teambeheer" class="dialog iframe">#}
{#                  <span class="appTileImg img-polaroid"><i class="material-icons">group</i></span>#}
{#                  <span class="appTileTitle">Manage Teams</span>#}
{#                </a>#}
{#              <span class="circle-1"></span></div>#}
{#            #}
{#            #}
{#              <div class="appTile left">#}
{#                <a href="/{{teamid}}/users" data-position="bottom" data-delay="50" data-tooltip="Ledenbeheer" class="dialog iframe">#}
{#                  <span class="appTileImg img-polaroid"><i class="material-icons">person</i></span>#}
{#                  <span class="appTileTitle">Users</span>#}
{#                </a>#}
{#              <span class="circle-1"></span></div>#}
{#            #}
{#              <div class="appTile left">#}
{#                <a href="/{{teamid}}/agenda" data-position="bottom" data-delay="50" data-tooltip="Agendabeheer" class="dialog iframe">#}
{#                  <span class="appTileImg img-polaroid"><i class="material-icons">date_range</i></span>#}
{#                  <span class="appTileTitle">Manage agenda</span>#}
{#                </a>#}
{#              <span class="circle-1"></span></div>#}
{#                    #}
{#              <div class="appTile left">#}
{#                <a href="/{{ teamid }}/news/" data-position="bottom" data-delay="50" data-tooltip="Nieuws beheer" class="dialog iframe" data-window-h="635">#}
{#                  <span class="appTileImg img-polaroid"><i class="material-icons">library_books</i></span>#}
{#                  <span class="appTileTitle">Manage News</span>#}
{#                </a>#}
{#              <span class="circle-1"></span></div>#}
{#            #}
{#              <div class="appTile left">#}
{#                <a href="/{{ teamid }}/wiki/" data-position="bottom" data-delay="50" data-tooltip="Wiki beheer" class="dialog iframe">#}
{#                  <span class="appTileImg img-polaroid"><i class="material-icons">book</i></span>#}
{#                  <span class="appTileTitle">Manage Wiki</span>#}
{#                </a>#}
{#              <span class="circle-1"></span></div>#}
{#           #}
{#            #}
{#              <div class="appTile left">#}
{#                <a href="/{{ teamid }}/notifications/" data-position="bottom" data-delay="50" data-tooltip="Notificaties" class="dialog iframe" data-reload="false">#}
{#                  <span class="appTileImg img-polaroid"><i class="material-icons">notifications</i></span>#}
{#                  <span class="appTileTitle">Notifications</span>#}
{#                </a>#}
{#              <span class="circle-1"></span></div>#}
{#            #}
{#            <div class="clear"></div>#}
{#            </div>#}
{#	   #}
{#	   <div>#}
{#	   </div>#}
