{% extends 'adminpage.html'%}


{% block Login %}
	<div id="loginpage">
		<div class="login-content">
			<form action="/{{teamid }}/checkuser/" method="post" class="form-horizontal">
			 {% csrf_token %}
			  <div class="">
				<div class="input-field">
				  <i class="material-icons prefix">account_circle</i>
				  <input type="text" id="username" name="username" class="validate">
				  <label for="usenrame" class="active">Username</label>
				</div>
			  </div>
			  <div class="">
				<div class="input-field">
				  <i class="material-icons prefix">lock</i>
				  <input name="password" id="password" type="password" class="validate">
				  <label for="password" class="active">Password</label>
				</div>
			  </div>
			  <div class="control-group">
				<div class="controls stay-log">
				  <p>
					<input type="checkbox" name="rememberMe" id="rememberMe" class="filled-in" checked="checked"> 
					<label for="rememberMe">Stay logged in</label>
				  </p>
				  <button type="submit" class="btn-floating btn-large waves-effect login-submit-btn"><i class="material-icons">send</i></button>
				</div>
			  </div>
			</form>
		 </div>
	</div>	 
{% endblock %}
