{% extends 'adminpage.html'%}


{% block Login %}
<style type="text/css">
	.failure{
		margin-left: 3rem;
		color: red;
	}
</style>
	<div id="loginpage">
		<div class="login-content">
			<form action="." method="post" class="form-horizontal" name="loginform" id="loginform">
			 {% csrf_token %}
			<div class="">
				<div>
			 	<input type="hidden" id="all">
			 	</div>
			 </div>
			  <div class="">
				<div class="input-field">
				  <i class="material-icons prefix">account_circle</i>
				  <input type="text" id="username" name="username" class="validate">
				  <label for="first_name" class="active">Username</label>
				</div>
			  </div>
			  <div class="">
				<div class="input-field">
				  <i class="material-icons prefix">lock</i>
				  <input name="password" id="password" type="password" class="validate">
				  <label for="password" class="active">Password</label>
				</div>
			  </div>
			  <div class="control-group">
				<div class="controls stay-log">
				  <button type="submit" class="btn-floating btn-large waves-effect login-submit-btn">Login</button><i class="material-icons"></i>
				</div>
			  </div>
			</form>
		 </div>
	</div>
	<script type="text/javascript">
	$('#loginform').submit(function(e){
		e.preventDefault();
		$.post('user.login.form', $('#loginform').serialize(), function(data){
			$('p.failure').remove()
			console.log(data)
			if(data.error){
			    for (var key in data.response){
	   				console.log(key, "key")
		          $('#'+key).parent().parent().after('<p class="failure">'+ data.response[key]+'</p>');
		        }
			}else{
				window.location = data.url;
			}
		}, 'json');
	})
	</script>
{% endblock %}
