{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="{% static "assets/css/base.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "assets/css/library/materialize.min.css" %}">
    </head>

    <body>
        {% block Contents%}{% endblock%}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
        {#Login requires JQuery#}
        {% block Login %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/pinzon1992/materialize_table_pagination/f9a8478f/js/pagination.js"></script>
        <script type="text/javascript" src="{% static "assets/js/base.js" %}"></script>
        <script type="text/javascript" src="{% static "assets/js/jquery.mousewheel.js" %}"></script>
        <script type="text/javascript" src="{% static "assets/js/jquery.maskedinput.js" %}"></script>
        <script type="text/javascript" src="{% static "assets/js/globalize/globalize.js" %}"></script>
        <script type="text/javascript" src="{% static "assets/js/jquery.cookie.min.js" %}"></script>
        <script type="text/javascript" src="{% static "assets/js/jquery-ui-1.10.0.custom.min.js" %}"></script>
    </body>
</html>