{% load static %}
<html>
    <head>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/library/materialize.min.css" %}">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
   <style>
   	 #editnewsblock{
	width:100%;
	float:left;
	padding:10px 20px;
	}
   </style>
   

    </head>
    <body>
       <div id="page">
          <div id="content">
		    <div id="listnewssidebar">
<ul>
<li><a href="/{{teamid}}" class="sidebarlinks" style="margin-top:-18px; font-size:1.6em;">Home</a></li>
<li><a href="/{{ teamid }}/news/" class="sidebarlinks">Manage News</a></li>
<li><a href="/{{ teamid }}/teambeheer/" class="sidebarlinks">Manage Teams</a></li>
<li><a href="/{{ teamid }}/users/" class="sidebarlinks">Manage Users</a></li>
<li><a href="/{{ teamid }}/wiki/" class="sidebarlinks">Manage Wiki</a></li>
<li><a href="/{{ teamid }}/notifications/" class="sidebarlinks">Manage notifications</a></li>
<li><a href="/{{ teamid }}/agenda/" class="sidebarlinks">Manage Agenda</a></li>
<li><a href="/logout/" class="sidebarlinks">Logout</a></li>
</ul>
</div>



			{% block Contents%}{% endblock%} 
			
       
       </div>
	   </div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/pinzon1992/materialize_table_pagination/f9a8478f/js/pagination.js"></script>
	<script type="text/javascript" src="{% static "assets/js/base.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/js/jquery.mousewheel.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/js/jquery.maskedinput.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/js/globalize/globalize.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/js/jquery.cookie.min.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/js/jquery-ui-1.10.0.custom.min.js" %}"></script>
		    <script src="http://malsup.github.com/jquery.form.js"></script> 

	{% block extra_js %}{% endblock%}
    </body>
</html>