<h5>My teams</h5>
<ul>
    {% for team in teams %}
        {% if team.shortname is not None and team.shortname != '' %}
            <li><a href="/{{ team.shortname }}/team">{{ team.name }}</a></li>
        {% else %}
            <li><a href="/{{ team.teamid }}/team">{{ team.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>