{% extends 'base.html' %}
{% load static %}
<html>
  <body>
    {%block Contents%}
    <style type="text/css">
      .failure{
      color: red;
      }
      .modal{
        z-index: 9999;
      }
      .inline-block-child,.parent_div {
  display: inline-block;
}
.parent {
  padding: 1rem
}
.child {
  padding: 1rem
}
.modal{
  top: 10rem;
  left: left: 19rem;
}
    </style>
    <div class="listnewsheader">
      <p class="listheader">Manage News </p>
    </div>
    <div id="newsarticletable">
      <div id="editnewsblock">
        <div class="row">
          <div class="col s12">
            <ul class="tabs" >
              <li class="tab col s3"><a class="active" href="#properties">Properties</a></li>
              <li class="tab col s3"><a href="#summary">Summary</a></li>
              <li class="tab col s3"><a href="#body">Body</a></li>
            </ul>
          </div>
        </div>
        <div id="properties" class="col s12">
          <form id="newsform" name="newsform" data-action="/{{ teamid }}/news/update/" method="post" enctype="multipart/form-data">
            <table>
              <tbody>
                {% csrf_token %}
                <input type="hidden" name="teamid" id="teamid" value="{{ teamid }}" >
                <input type="hidden" name="editorid" id="editorid" value="{{ news.editorid }}" >					
                <div class="input-field col s12">				
                  <input type="text" name="titel" id="titel" value="{{ news.titel }}" class="input-block-level titel">
                  <label for"title">Title</label>
                </div>
                <tr>
                  <td>
                    <div class="input-field col s12">
                      <input disabled type="text" name="userpublished" id="userpublished" class="userpublished" value="{{ news.get_author.volname }}">
                      <label for"userpublished">Author</label>
                    </div>
                  </td>
                  <td>
                    <div class="input-field col s12">
                      <select name="categorie" class="categorie">														
                      {% for  catlist in categorylist %}
                      <option {% if news.categorie == catlist.categoryid %}selected="selected"{% endif %} value="{{catlist.categoryid}}">{{catlist.category}}</option>
                      {% endfor %}
                      </select>
                      <label>Category</label>
                    </div>
                  </td>
                  <td>
                    <div class="input-field col s12">
                      <input type="text" name="link" id="link" class="link" value="{{ news.link }}">
                      <label for"link">Link</label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="input-field col s12">
                      <input type="text" name="datepublished" class="datepublished datepicker" id="datepublished" value="{{ news.datepublished|date:'d-m-Y'  }}">
                      <label for"datepublished">Publication date</label>
                      <a href="javascript:void(0);" class="datepicker-icon"><i class="material-icons">event</i></a>
                    </div>
                  </td>
                  <td>
                    <div class="input-field col s12">
                      <input type="text" class="time input-mini timePublished" id="timePublished" name="timePublished" value="{{ news.datepublished|date:'H:i:s' }}" />
                      <label class="active" for"timepublished">Publication time</label>
                    </div>
                  </td>
                  <td>
                    <div class="input-field col s12">
                      <input type="text" name="dateexpired" class="dateexpired datepicker" id="dateexpired" value="{{ news.dateexpired|date:'d-m-Y' }}" >
                      <label for"dateexpired">Expiration date</label>
                      <a href="javascript:void(0);" class="datepicker-icon"><i class="material-icons">event</i></a>
                    </div>
                  </td>
                  <td>
                    <div class="input-field col s12">
                      <input type="text" name="timeexpired" class="timeexpired time input-mini" id="timeexpired" value="{{ news.dateexpired|date:'H:i:s'}}">
                      <label class="active" for"timeexpired">Expiration time</label>
                      <input type="hidden" name="image_type" id="image_type" value="">
                      <input type="hidden" name="image_src" id="image_src" value="">

                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="left lefMargin20">
                      <label for="image">Thumbnail</label>						
                      <div id="photocontainer">
                        <div>
                          <div id="changefoto" class="valign-wrapper">
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="margin-bottom: 10px;margin-top: 10px;">Select An Image</button>
                          </div>
                          <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-body">
                                  <div class="parent_div" style="border-right: 1px solid #ddd;width: 50%;">
                                    <p class="child inline-block-child">Load Server Images</p>
                                    <div class="main_div parent">
                                      {% for each in news_files %}
                                      <div class="image_div child inline-block-child" data-src="/media/{{intraid}}/team/{{teamid}}/{{ each }}"><img src="/media/{{intraid}}/team/{{teamid}}/{{ each }}" width="100" height="100"/>

                                      </div>
                                      {% endfor %}
                                    </div>
                                  </div>
                                  <div class="parent_div">
                                    <p class="child inline-block-child">Load New Image</p>
                                    <div class="parent">
                                      <input type="file" class="" name="summaryimage" id="summaryimage" onchange="readURL(this);"><br><br>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                            {# Hacky fix                        #}
                          <img src="/media/{% if news.summaryimage %}{{ news.summaryimage }}{% else %}/static/dummy.png{% endif %}" class="img-polaroid" alt="Article thumbnail" width="120" id="photofromflmgr"></a>
                        </div>
                        <input id="valfromflmgr" name="valfromflmgr" type="hidden" value="{{ news.summaryimage }}">
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        <div id="summary" class="col s12">
        <div class="input-field col s12">	
        <label for="textarea">Textarea</label>
        <textarea id="summary_text" name="summary" class="summary materialize-textarea">{{ news.summary }}</textarea>
        </div> </div>
        <div id="body" class="col s12">
        <div class="input-field col s12">	
        <label for="textarea">Textarea</label>
        <textarea id="tocus" name="tocus" class="tocus materialize-textarea">{{ news.tocus }}</textarea>
        </div> </div>
        <button class="btn waves-effect waves-light" type="submit" name="action" value="update" style="background-color:#039be5;">Update
        <i class="material-icons right"></i>
        </button>
        <a class="btn waves-effect waves-light" href="/{{teamid}}/news/" style="background-color:gray;">Cancel
        <i class="material-icons right"></i>
        </a>
        </form>
      </div>
    </div>
  </body>
  <script src="http://malsup.github.com/jquery.form.js"></script> 
  <script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>
  <script>
    tinymce.init({
      selector: '#summary_text',
    });
    tinymce.init({
      selector: '#tocus',
    });
    $('#newsform').ajaxForm({
      beforeSerialize: function ($form, options) {
          $('#summary_text').val(tinyMCE.get('summary_text').getContent());
          $('#tocus').val(tinyMCE.get('tocus').getContent());
    
      },
      type: 'POST',
      dataType: 'json',
      url: $('#newsform').attr('data-action'),
      success: function (data) {
             		$('p.failure').remove();
             		if(data.error){
             			for (var key in data.response){
             				console.log(key, "key")
    	          $('.'+key).parent().after('<p class="failure">'+ data.response[key]+'</p>');
    	        }
             		}else{
             			alert(data.response)
             			window.location = data.url
             		}
        }
    });
    
    function readURL(input) {
          if (input.files && input.files[0]) {
              var reader = new FileReader();
    
              reader.onload = function (e) {
                  $('#photofromflmgr')
                      .attr('src', e.target.result)
                      .width(150)
                      .height(200);
              };
    
              reader.readAsDataURL(input.files[0]);
              $('.close').click();
          }
      }
      $('.child').click(function(e){
          e.preventDefault();
          src = $(this).attr('data-src');
          $('#image_type').val('server_image')
          $('#image_src').val(src)
          $('#photofromflmgr')
            .attr('src', src)
            .width(150)
            .height(200);
            $('.close').click();

        });
  </script>
  {% endblock %}