{% extends 'base.html'%}


{% block Contents %}
<div id="newsarticletable">



<table id="newsarticles" class="table striped dataTable no-footer" role="grid">
<thead>
<tr>
  <th>Title</th>
  <th>Publication date</th>
  <th>Expiration date</th>
  <th>Category</th>
  <th>Publish</th>
  <th>Options</th>

</tr>
</thead>
<tbody>
<tr>
{% for nwseditor in news  %}

  <td><b>{{ nwseditor.titel }}</b></td>
  <td>{{ nwseditor.datepublished|date:'d-m-Y H:i'  }}</td>
  <td>{{nwseditor.dateexpired|date:'d-m-Y H:i'}}</td>
  <td>{{nwseditor.get_category}}</td>
  <td><label for="{{nwseditor.editorid}}">{% if nwseditor.publishrss == 0 %}<input id="{{nwseditor.editorid}}" type="checkbox" class="toggle_publish" />{% endif %}{% if nwseditor.publishrss == 1 %}<input type="checkbox" id="{{nwseditor.editorid}}" class="filled-in toggle_publish" checked="checked" />{% endif %}<span></span></label></td>
  <td><a class="edit" href="edit/{{ nwseditor.editorid }}"><i class="small material-icons">edit</i></a>
  <a class="danger" href="delete/{{ nwseditor.editorid }}" onclick="return confirm('Are you sure you want to delete this item?')"><i class="small material-icons">delete</i></a></td>
 </tr> 
 {% endfor %}

<tbody>

</table>
          <div class="col-md-12" id="pagination">
	    
            <ul class="pagination pager-left" id="myPager"></ul>
          </div>


<a class="btn-floating btn-large waves-effect waves-light #039be5" href="/{{ teamid }}/news/createnews"><i class="material-icons">add</i></a>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $('.toggle_publish').change(function (e) {
    var news_id = $(this).attr('id');
    window.location='/{{ teamid }}/news/toggle_publish/' + news_id;
  });
</script>
{% endblock%}
