{% extends 'base.html'%}


{% block Contents %}
<div class="listnewsheader">
<p class="listheader">Manage News </p> 
</div>
<div id="newsarticletable">



<table id="newsarticles" cellspacing="10" class="striped">
<thead>
<tr>
  <th>Title</th>
  <th>Publication date</th>
  <th>Expiration date</th>
  <th>Category</th>
  <th>Publish</th>
  <th>Options</th>

</tr>
</thead>
<tbody>
<tr>
{% for nwseditor in news  %}	

  <td><b>{{ nwseditor.titel }}</b></td>
  <td>{{ nwseditor.datepublished|date:'d-m-Y H:i'  }}</td>
  <td>{{nwseditor.dateexpired|date:'d-m-Y H:i'}}</td>
  <td>{{nwseditor.get_category}}</td>
  <td>{{nwseditor.publishrss}}</td>
  <td><a class="edit" href="edit/{{ nwseditor.editorid }}"</a> <i class="small material-icons">edit</i>
  <a class="danger" href="delete/{{ nwseditor.editorid }}" onclick="return confirm('Are you sure you want to delete this item?')"><i class="small material-icons">delete</i></a></td>
 </tr> 
 {% endfor %}

<tbody>

</table>
          <div class="col-md-12" id="pagination">
	    
            <ul class="pagination pager-left" id="myPager"></ul>
          </div>


<a class="btn-floating btn-large waves-effect waves-light #039be5" href="/{{ teamid }}/news/createnews"><i class="material-icons">add</i></a>
</div>
{% endblock %}
